
.md-grid {
  max-width: 2000px;


}

.md-typeset h1 {
    color: rgb(48, 35, 235);
    font-size: 20px;
    font-weight: 500;
}

.md-typeset h2 {
    font-weight: 500;
    font-size: 18px
}

.md-typeset h3 {
    font-weight: 500;
    font-size: 16px
}
